html, body{
    height: 100%;
    margin: 0;
    display: block;
    line-height: 1.5;
}

.interface{
    width: 720px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
}

.container{
    padding: 3rem 2rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    color: #e6ffff;
    background-color: #eceeef;
    text-align: left;
}

.form-group{
    margin-bottom: 1rem;
}

.data{
    margin-top:20px;
    text-align: center;
}

.buttons{
    text-align: center;
    margin: 10px;
    display: inline;
}

.message{
    font-family: Arial, sans-serif;
    font-size: 15px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

table{
    margin-left:auto; 
    margin-right:auto;
    color: #e6ffff;
}

th{
    text-align: center;
}

.content h1{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #DDCCEE;
}
