<head><link href = "../static/main.css" rel="stylesheet"/> </head><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Employees</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>BRANDON TANDOORI LTD</td>
      <td>124</td>
      <td>43 Clarence Road Manor Park London E125BB</td>
      <td>51.550441</td>
      <td>0.040202</td>
    </tr>
    <tr>
      <th>1</th>
      <td>BRANDONE MACHINE TOOL LIMITED</td>
      <td>83</td>
      <td>Unit A24 The Big Yellow 1000 North Circular Ro...</td>
      <td>51.569562</td>
      <td>-0.235591</td>
    </tr>
    <tr>
      <th>2</th>
      <td>BRANDONMAX LIMITED</td>
      <td>102</td>
      <td>35 Firs Avenue London United Kingdom N113NE</td>
      <td>51.609134</td>
      <td>-0.151115</td>
    </tr>
    <tr>
      <th>3</th>
      <td>BRANDONSCOTE LIMITED</td>
      <td>39</td>
      <td>44 Eastbury Avenue Enfield Middlesex EN13Nl</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>BRANDONSTEAD LIMITED</td>
      <td>89</td>
      <td>Bridge House London Bridge London SE19QR</td>
      <td>51.505330</td>
      <td>-0.088344</td>
    </tr>
    <tr>
      <th>5</th>
      <td>BRANDOO LTD</td>
      <td>90</td>
      <td>27 Drysdale Street London N16ND</td>
      <td>51.527982</td>
      <td>-0.078521</td>
    </tr>
    <tr>
      <th>6</th>
      <td>BRANDOPUS HOLDINGS LIMITED</td>
      <td>170</td>
      <td>Devonshire House 60 Goswell Road London EC1M7AD</td>
      <td>51.523129</td>
      <td>-0.097941</td>
    </tr>
    <tr>
      <th>7</th>
      <td>BRANDOPUS LLP</td>
      <td>81</td>
      <td>Devonshire House 60 Goswell Road London EC1M7AD</td>
      <td>51.523129</td>
      <td>-0.097941</td>
    </tr>
    <tr>
      <th>8</th>
      <td>BRANDORA LIMITED</td>
      <td>106</td>
      <td>Progress House 404 Brighton Road South Croydon...</td>
      <td>51.349979</td>
      <td>-0.100566</td>
    </tr>
    <tr>
      <th>9</th>
      <td>BRANDOUTLET LIMITED</td>
      <td>43</td>
      <td>4th Floor, Suite 2 B Congress House Lyon Road ...</td>
      <td>51.580184</td>
      <td>-0.333150</td>
    </tr>
    <tr>
      <th>10</th>
      <td>BRANDOW LTD</td>
      <td>42</td>
      <td>277-279 Chiswick High Road London England W44PU</td>
      <td>51.492061</td>
      <td>-0.262599</td>
    </tr>
    <tr>
      <th>11</th>
      <td>BRANDPIPE LTD</td>
      <td>169</td>
      <td>Dukes Court 32 Duke Street London SW1Y6DF</td>
      <td>51.507721</td>
      <td>-0.138287</td>
    </tr>
    <tr>
      <th>12</th>
      <td>BRANDPLACE LIMITED</td>
      <td>105</td>
      <td>34 Harrowes Meade Edgware Middlesex HA88RP</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>BRANDPOINT DESIGN LIMITED</td>
      <td>25</td>
      <td>C/O Montgomery Swann Ltd Scotts Sufferance Wha...</td>
      <td>51.500189</td>
      <td>-0.072949</td>
    </tr>
    <tr>
      <th>14</th>
      <td>BRANDPOOL LIMITED</td>
      <td>27</td>
      <td>97 Charlotte Street London England W1T4QA</td>
      <td>51.520627</td>
      <td>-0.137198</td>
    </tr>
    <tr>
      <th>15</th>
      <td>BRANDPROX LIMITED</td>
      <td>146</td>
      <td>43 Grange Street Bridport Place London England...</td>
      <td>51.534984</td>
      <td>-0.086132</td>
    </tr>
    <tr>
      <th>16</th>
      <td>BRANDPUBLISHER LIMITED</td>
      <td>14</td>
      <td>C/O Keith Reynolds Associates 135 Bermondsey S...</td>
      <td>51.499891</td>
      <td>-0.081390</td>
    </tr>
    <tr>
      <th>17</th>
      <td>BRANDRAM MEWS MANAGEMENT LIMITED</td>
      <td>85</td>
      <td>195 Petersham Road Richmond Surrey TW107AW</td>
      <td>51.446284</td>
      <td>-0.301905</td>
    </tr>
    <tr>
      <th>18</th>
      <td>BRANDRAMS HOUSING CO-OPERATIVE LIMITED</td>
      <td>193</td>
      <td>Brandrams Wharf 127-131 Rotherhithe Street Lon...</td>
      <td>51.501897</td>
      <td>-0.053110</td>
    </tr>
    <tr>
      <th>19</th>
      <td>BRANDRAPPORT LIMITED</td>
      <td>120</td>
      <td>Greencoat House Francis Street London SW1P1DH</td>
      <td>51.495917</td>
      <td>-0.136692</td>
    </tr>
    <tr>
      <th>20</th>
      <td>BRANDREHAB LIMITED</td>
      <td>122</td>
      <td>33 Great Pulteney Street London W1F9NP</td>
      <td>51.512074</td>
      <td>-0.136065</td>
    </tr>
    <tr>
      <th>21</th>
      <td>BRANDREST PROPERTIES LIMITED</td>
      <td>27</td>
      <td>51 Queen Anne Street London W1M9FA</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>BRANDRETH ENTERPRISES LTD</td>
      <td>30</td>
      <td>49B Fonthill Road London N43HZ</td>
      <td>51.566214</td>
      <td>-0.110680</td>
    </tr>
    <tr>
      <th>23</th>
      <td>BRANDRISKS GROUP LIMITED</td>
      <td>17</td>
      <td>Esca House 34 Palace Court London W24HY</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>BRANDRISKS LIMITED</td>
      <td>120</td>
      <td>Esca House 34 Palace Court London W24HY</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>BRANDS APPLIED LIMITED</td>
      <td>135</td>
      <td>Suite 3, 1st Floor Stanmore House, 15-19 Churc...</td>
      <td>51.617564</td>
      <td>-0.312238</td>
    </tr>
    <tr>
      <th>26</th>
      <td>BRANDS AT WORK LTD</td>
      <td>101</td>
      <td>145-157 St John Street London EC1V4PY</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>BRANDS BANDS AND FANS LIMITED</td>
      <td>147</td>
      <td>Acre House 11-15 William Road London England N...</td>
      <td>51.526975</td>
      <td>-0.139560</td>
    </tr>
    <tr>
      <th>28</th>
      <td>BRANDS BEYOND LTD</td>
      <td>106</td>
      <td>Golden House, 30 Pulteney Street 5th Floor Lon...</td>
      <td>51.512142</td>
      <td>-0.136356</td>
    </tr>
    <tr>
      <th>29</th>
      <td>BRANDS BOUTIQUE LTD</td>
      <td>119</td>
      <td>277-279 Chiswick High Road London W44PU</td>
      <td>51.492061</td>
      <td>-0.262599</td>
    </tr>
  </tbody>
</table>