<head><link href = "../static/main.css" rel="stylesheet"/> </head><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Name</th>
      <th>Employees</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3666 21st St CA 94114</td>
      <td>San Francisco</td>
      <td>USA</td>
      <td>Madeira</td>
      <td>8</td>
      <td>37.757051</td>
      <td>-122.418804</td>
    </tr>
    <tr>
      <th>1</th>
      <td>735 Dolores St CA 94114</td>
      <td>San Francisco</td>
      <td>USA</td>
      <td>Bready Shop</td>
      <td>15</td>
      <td>37.741497</td>
      <td>-122.424096</td>
    </tr>
    <tr>
      <th>2</th>
      <td>332 Hill St CA 94114</td>
      <td>San Francisco</td>
      <td>USA</td>
      <td>Super River</td>
      <td>25</td>
      <td>37.756102</td>
      <td>-122.421041</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3995 23rd CA 94114</td>
      <td>San Francisco</td>
      <td>USA</td>
      <td>Ben’s Shop</td>
      <td>10</td>
      <td>37.752965</td>
      <td>-122.431714</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1056 Sanchez St CA 94114</td>
      <td>San Francisco</td>
      <td>USA</td>
      <td>Sanchez</td>
      <td>12</td>
      <td>37.748362</td>
      <td>-122.429346</td>
    </tr>
    <tr>
      <th>5</th>
      <td>375 Laguna Honda Blvd CA 94116</td>
      <td>San Francisco</td>
      <td>USA</td>
      <td>Stonestown Galleria</td>
      <td>40</td>
      <td>37.748917</td>
      <td>-122.457000</td>
    </tr>
  </tbody>
</table>