<head><link href = "../static/main.css" rel="stylesheet"/> </head><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Employees</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Madeira</td>
      <td>8</td>
      <td>3666 21st St San Francisco CA 94114 USA</td>
      <td>Blah</td>
      <td>Bee</td>
      <td>37.756648</td>
      <td>-122.429375</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Bready Shop</td>
      <td>15</td>
      <td>735 Dolores St San Francisco CA 94119 USA</td>
      <td>Blah</td>
      <td>Bee</td>
      <td>37.757819</td>
      <td>-122.425337</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Super River</td>
      <td>25</td>
      <td>332 Hill St San Francisco California 94114 USA</td>
      <td>Blah</td>
      <td>Bee</td>
      <td>37.755875</td>
      <td>-122.428816</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Ben’s Shop</td>
      <td>10</td>
      <td>3995 23rd St San Francisco CA 94114 USA</td>
      <td>Blah</td>
      <td>Bee</td>
      <td>37.752935</td>
      <td>-122.431722</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Sanchez</td>
      <td>12</td>
      <td>1056 Sanchez St San Francisco California USA</td>
      <td>Blah</td>
      <td>Bee</td>
      <td>37.752131</td>
      <td>-122.430028</td>
    </tr>
  </tbody>
</table>