<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_a1fa851195de45b3af690dcbd9f36d82 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a1fa851195de45b3af690dcbd9f36d82" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_a1fa851195de45b3af690dcbd9f36d82 = L.map(
                                  'map_a1fa851195de45b3af690dcbd9f36d82',
                                  {center: [37.7570511,-122.4188036],
                                  zoom: 11,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_c6a27a29dac5467db78846fef390b4ea = L.tileLayer(
                'https://{s}.tiles.mapbox.com/v3/mapbox.world-bright/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_a1fa851195de45b3af690dcbd9f36d82);
        
    
            var feature_group_bb7815531d5b41a6bb627dca1b658896 = L.featureGroup(
                ).addTo(map_a1fa851195de45b3af690dcbd9f36d82);
        
    
            var circle_marker_c53fbf002bf84cbb8348c44a876b54d8 = L.circleMarker(
                [37.7570511,-122.4188036],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_bb7815531d5b41a6bb627dca1b658896);
            
    
            var popup_d734e2ad937f4501a5842c6010d4e526 = L.popup({maxWidth: '300'});

            
                var html_0126b9d58c944167bd87b43be6c8df6d = $('<div id="html_0126b9d58c944167bd87b43be6c8df6d" style="width: 100.0%; height: 100.0%;">Madeira: 3666 21st St CA 94114, Employees: 8</div>')[0];
                popup_d734e2ad937f4501a5842c6010d4e526.setContent(html_0126b9d58c944167bd87b43be6c8df6d);
            

            circle_marker_c53fbf002bf84cbb8348c44a876b54d8.bindPopup(popup_d734e2ad937f4501a5842c6010d4e526);

            
        
    
            var circle_marker_0cb7b386b98b4090b6dad0c3274d2404 = L.circleMarker(
                [37.7414969,-122.4240961],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_bb7815531d5b41a6bb627dca1b658896);
            
    
            var popup_27fcda54121d463c88996ab090576ae6 = L.popup({maxWidth: '300'});

            
                var html_4a8ae5a1402f4b19abefc08e3852fdc0 = $('<div id="html_4a8ae5a1402f4b19abefc08e3852fdc0" style="width: 100.0%; height: 100.0%;">Bready Shop: 735 Dolores St CA 94114, Employees: 15</div>')[0];
                popup_27fcda54121d463c88996ab090576ae6.setContent(html_4a8ae5a1402f4b19abefc08e3852fdc0);
            

            circle_marker_0cb7b386b98b4090b6dad0c3274d2404.bindPopup(popup_27fcda54121d463c88996ab090576ae6);

            
        
    
            var circle_marker_6753f59b399647a7ad9ca1ca7c3a42ec = L.circleMarker(
                [37.756102,-122.421041],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_bb7815531d5b41a6bb627dca1b658896);
            
    
            var popup_43e23eff93a147888206892102bc5c81 = L.popup({maxWidth: '300'});

            
                var html_a9f5700ab9ae409f987c58c0c5b88551 = $('<div id="html_a9f5700ab9ae409f987c58c0c5b88551" style="width: 100.0%; height: 100.0%;">Super River: 332 Hill St CA 94114, Employees: 25</div>')[0];
                popup_43e23eff93a147888206892102bc5c81.setContent(html_a9f5700ab9ae409f987c58c0c5b88551);
            

            circle_marker_6753f59b399647a7ad9ca1ca7c3a42ec.bindPopup(popup_43e23eff93a147888206892102bc5c81);

            
        
    
            var circle_marker_3cd3c7493e214f34b7e8d0a9120ecc58 = L.circleMarker(
                [37.7529648,-122.4317141],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_bb7815531d5b41a6bb627dca1b658896);
            
    
            var popup_7579797d65ce42eea16e6b57b4302ddb = L.popup({maxWidth: '300'});

            
                var html_226b20bdbc55479da4353149f698fbf5 = $('<div id="html_226b20bdbc55479da4353149f698fbf5" style="width: 100.0%; height: 100.0%;">Ben’s Shop: 3995 23rd CA 94114, Employees: 10</div>')[0];
                popup_7579797d65ce42eea16e6b57b4302ddb.setContent(html_226b20bdbc55479da4353149f698fbf5);
            

            circle_marker_3cd3c7493e214f34b7e8d0a9120ecc58.bindPopup(popup_7579797d65ce42eea16e6b57b4302ddb);

            
        
    
            var circle_marker_30593cdbfb834049a337fe66e88fcf1a = L.circleMarker(
                [37.748362,-122.429346],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_bb7815531d5b41a6bb627dca1b658896);
            
    
            var popup_d7c39aba46f0408587958a2db2719313 = L.popup({maxWidth: '300'});

            
                var html_4d09c67ad15149b5873a1e73224aab70 = $('<div id="html_4d09c67ad15149b5873a1e73224aab70" style="width: 100.0%; height: 100.0%;">Sanchez: 1056 Sanchez St CA 94114, Employees: 12</div>')[0];
                popup_d7c39aba46f0408587958a2db2719313.setContent(html_4d09c67ad15149b5873a1e73224aab70);
            

            circle_marker_30593cdbfb834049a337fe66e88fcf1a.bindPopup(popup_d7c39aba46f0408587958a2db2719313);

            
        
    
            var circle_marker_5e492bf52b33429ebc1b494f08f9e939 = L.circleMarker(
                [37.74891695,-122.45699975],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_bb7815531d5b41a6bb627dca1b658896);
            
    
            var popup_5b14bdb58a4447c881b01fbe048ed368 = L.popup({maxWidth: '300'});

            
                var html_506cf1656bdf441da34bb02c8e61f1b1 = $('<div id="html_506cf1656bdf441da34bb02c8e61f1b1" style="width: 100.0%; height: 100.0%;">Stonestown Galleria: 375 Laguna Honda Blvd CA 94116, Employees: 40</div>')[0];
                popup_5b14bdb58a4447c881b01fbe048ed368.setContent(html_506cf1656bdf441da34bb02c8e61f1b1);
            

            circle_marker_5e492bf52b33429ebc1b494f08f9e939.bindPopup(popup_5b14bdb58a4447c881b01fbe048ed368);

            
        
    
            var layer_control_782b9f8bc6e845119e34f622a0f15be1 = {
                base_layers : { "mapboxbright" : tile_layer_c6a27a29dac5467db78846fef390b4ea, },
                overlays : { "Business" : feature_group_bb7815531d5b41a6bb627dca1b658896, }
                };
            L.control.layers(
                layer_control_782b9f8bc6e845119e34f622a0f15be1.base_layers,
                layer_control_782b9f8bc6e845119e34f622a0f15be1.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_a1fa851195de45b3af690dcbd9f36d82);
        
</script>