<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_4c1f9f5f4c2141c5a3e1afd9c6d15309 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4c1f9f5f4c2141c5a3e1afd9c6d15309" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_4c1f9f5f4c2141c5a3e1afd9c6d15309 = L.map(
                                  'map_4c1f9f5f4c2141c5a3e1afd9c6d15309',
                                  {center: [37.756648,-122.429375],
                                  zoom: 11,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_291c18db77084b5b86482691b259d1fb = L.tileLayer(
                'https://{s}.tiles.mapbox.com/v3/mapbox.world-bright/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_4c1f9f5f4c2141c5a3e1afd9c6d15309);
        
    
            var feature_group_cd9bf76d9cb344de95067e202b6f110d = L.featureGroup(
                ).addTo(map_4c1f9f5f4c2141c5a3e1afd9c6d15309);
        
    
            var circle_marker_b779a7645d814b18bcc21e9689ffc601 = L.circleMarker(
                [37.756648,-122.429375],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_cd9bf76d9cb344de95067e202b6f110d);
            
    
            var popup_7475c37f54634352a9a01a6112d50f64 = L.popup({maxWidth: '300'});

            
                var html_5f3f1ca3d5004f00b7d21f3002367251 = $('<div id="html_5f3f1ca3d5004f00b7d21f3002367251" style="width: 100.0%; height: 100.0%;">Madeira: 3666 21st St San Francisco CA 94114 USA, Employees: 8</div>')[0];
                popup_7475c37f54634352a9a01a6112d50f64.setContent(html_5f3f1ca3d5004f00b7d21f3002367251);
            

            circle_marker_b779a7645d814b18bcc21e9689ffc601.bindPopup(popup_7475c37f54634352a9a01a6112d50f64);

            
        
    
            var circle_marker_6d809fa65cd0414a806f328ec70ba760 = L.circleMarker(
                [37.757819,-122.425337],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_cd9bf76d9cb344de95067e202b6f110d);
            
    
            var popup_f2b806712cfb482588e868aef984c222 = L.popup({maxWidth: '300'});

            
                var html_b8d02b0509734404a72502fa9482615b = $('<div id="html_b8d02b0509734404a72502fa9482615b" style="width: 100.0%; height: 100.0%;">Bready Shop: 735 Dolores St San Francisco CA 94119 USA, Employees: 15</div>')[0];
                popup_f2b806712cfb482588e868aef984c222.setContent(html_b8d02b0509734404a72502fa9482615b);
            

            circle_marker_6d809fa65cd0414a806f328ec70ba760.bindPopup(popup_f2b806712cfb482588e868aef984c222);

            
        
    
            var circle_marker_38193be3ca5a4eb39552979c48f5facf = L.circleMarker(
                [37.755875,-122.428816],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_cd9bf76d9cb344de95067e202b6f110d);
            
    
            var popup_3d5031cbc22f4c1aacd3f0e5f1b81b80 = L.popup({maxWidth: '300'});

            
                var html_20b7cf337bed48c98d02929f2a80d31c = $('<div id="html_20b7cf337bed48c98d02929f2a80d31c" style="width: 100.0%; height: 100.0%;">Super River: 332 Hill St San Francisco California 94114 USA, Employees: 25</div>')[0];
                popup_3d5031cbc22f4c1aacd3f0e5f1b81b80.setContent(html_20b7cf337bed48c98d02929f2a80d31c);
            

            circle_marker_38193be3ca5a4eb39552979c48f5facf.bindPopup(popup_3d5031cbc22f4c1aacd3f0e5f1b81b80);

            
        
    
            var circle_marker_a78cacd1a03247279afe59ee63641028 = L.circleMarker(
                [37.7529353,-122.4317224],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_cd9bf76d9cb344de95067e202b6f110d);
            
    
            var popup_6b6538bd77034af188858eecdf2808f2 = L.popup({maxWidth: '300'});

            
                var html_68d9d2fa4ae34b8e8d06507f0f9b785c = $('<div id="html_68d9d2fa4ae34b8e8d06507f0f9b785c" style="width: 100.0%; height: 100.0%;">Ben’s Shop: 3995 23rd St San Francisco CA 94114 USA, Employees: 10</div>')[0];
                popup_6b6538bd77034af188858eecdf2808f2.setContent(html_68d9d2fa4ae34b8e8d06507f0f9b785c);
            

            circle_marker_a78cacd1a03247279afe59ee63641028.bindPopup(popup_6b6538bd77034af188858eecdf2808f2);

            
        
    
            var circle_marker_69e5196cfb9443388078aaed0140f472 = L.circleMarker(
                [37.752131,-122.430028],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_cd9bf76d9cb344de95067e202b6f110d);
            
    
            var popup_3d1ff454f6d24af2aeff3901769fa574 = L.popup({maxWidth: '300'});

            
                var html_7cdbeef905b14c56bf47924c8caf3080 = $('<div id="html_7cdbeef905b14c56bf47924c8caf3080" style="width: 100.0%; height: 100.0%;">Sanchez: 1056 Sanchez St San Francisco California USA, Employees: 12</div>')[0];
                popup_3d1ff454f6d24af2aeff3901769fa574.setContent(html_7cdbeef905b14c56bf47924c8caf3080);
            

            circle_marker_69e5196cfb9443388078aaed0140f472.bindPopup(popup_3d1ff454f6d24af2aeff3901769fa574);

            
        
    
            var layer_control_ecaec616fdc743e79001c1139da103cc = {
                base_layers : { "mapboxbright" : tile_layer_291c18db77084b5b86482691b259d1fb, },
                overlays : { "Business" : feature_group_cd9bf76d9cb344de95067e202b6f110d, }
                };
            L.control.layers(
                layer_control_ecaec616fdc743e79001c1139da103cc.base_layers,
                layer_control_ecaec616fdc743e79001c1139da103cc.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_4c1f9f5f4c2141c5a3e1afd9c6d15309);
        
</script>