<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_4ebfc10813b046bcb2dc4db9b1ab3718 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4ebfc10813b046bcb2dc4db9b1ab3718" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_4ebfc10813b046bcb2dc4db9b1ab3718 = L.map(
                                  'map_4ebfc10813b046bcb2dc4db9b1ab3718',
                                  {center: [51.5504406,0.040202],
                                  zoom: 9,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_18d2f5e80658413bb40f3d80a3311bd6 = L.tileLayer(
                'https://{s}.tiles.mapbox.com/v3/mapbox.world-bright/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_4ebfc10813b046bcb2dc4db9b1ab3718);
        
    
            var feature_group_9f7f97fb53c64e2ca2de39d0fbfda480 = L.featureGroup(
                ).addTo(map_4ebfc10813b046bcb2dc4db9b1ab3718);
        
    
            var circle_marker_727806a4987645489c93a30bf067d61d = L.circleMarker(
                [51.5504406,0.040202],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_0302a8107afe40f187541848a8cb8530 = L.popup({maxWidth: '300'});

            
                var html_696a03b5078945739da42b42c40e4365 = $('<div id="html_696a03b5078945739da42b42c40e4365" style="width: 100.0%; height: 100.0%;">BRANDON TANDOORI LTD: 43 Clarence Road Manor Park London E125BB, Employees: 124</div>')[0];
                popup_0302a8107afe40f187541848a8cb8530.setContent(html_696a03b5078945739da42b42c40e4365);
            

            circle_marker_727806a4987645489c93a30bf067d61d.bindPopup(popup_0302a8107afe40f187541848a8cb8530);

            
        
    
            var circle_marker_f649e4e740d642debf204e3606c57fa0 = L.circleMarker(
                [51.5695623,-0.2355905],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_92246109646a46e7be2619c8e59ab372 = L.popup({maxWidth: '300'});

            
                var html_e2abe859cbf149a4bcffaa9c4ae47a21 = $('<div id="html_e2abe859cbf149a4bcffaa9c4ae47a21" style="width: 100.0%; height: 100.0%;">BRANDONE MACHINE TOOL LIMITED: Unit A24 The Big Yellow 1000 North Circular Road London NW27JP, Employees: 83</div>')[0];
                popup_92246109646a46e7be2619c8e59ab372.setContent(html_e2abe859cbf149a4bcffaa9c4ae47a21);
            

            circle_marker_f649e4e740d642debf204e3606c57fa0.bindPopup(popup_92246109646a46e7be2619c8e59ab372);

            
        
    
            var circle_marker_135262a615ea45f1aa07543dd840c0c6 = L.circleMarker(
                [51.6091337,-0.1511145],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_c4fa823dd4eb45388a8d214628d9581c = L.popup({maxWidth: '300'});

            
                var html_11c9c6eede354324b30b0293616da547 = $('<div id="html_11c9c6eede354324b30b0293616da547" style="width: 100.0%; height: 100.0%;">BRANDONMAX LIMITED: 35 Firs Avenue London United Kingdom N113NE, Employees: 102</div>')[0];
                popup_c4fa823dd4eb45388a8d214628d9581c.setContent(html_11c9c6eede354324b30b0293616da547);
            

            circle_marker_135262a615ea45f1aa07543dd840c0c6.bindPopup(popup_c4fa823dd4eb45388a8d214628d9581c);

            
        
    
            var circle_marker_f6a42b1c564b471ca315e63b5a81df9e = L.circleMarker(
                [51.5053298,-0.0883445],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_dd18823a00244c82a6f37927734f3895 = L.popup({maxWidth: '300'});

            
                var html_d0b5608a80744202b6f7171ed3a5964d = $('<div id="html_d0b5608a80744202b6f7171ed3a5964d" style="width: 100.0%; height: 100.0%;">BRANDONSTEAD LIMITED: Bridge House London Bridge London SE19QR, Employees: 39</div>')[0];
                popup_dd18823a00244c82a6f37927734f3895.setContent(html_d0b5608a80744202b6f7171ed3a5964d);
            

            circle_marker_f6a42b1c564b471ca315e63b5a81df9e.bindPopup(popup_dd18823a00244c82a6f37927734f3895);

            
        
    
            var circle_marker_b1c73f1a422b4f2b96e7a57a547c7413 = L.circleMarker(
                [51.5279818,-0.0785211],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_0a68889a23aa44bb8f42e32448827880 = L.popup({maxWidth: '300'});

            
                var html_72d043b70e144b3b993e5c46cdeb8289 = $('<div id="html_72d043b70e144b3b993e5c46cdeb8289" style="width: 100.0%; height: 100.0%;">BRANDOO LTD: 27 Drysdale Street London N16ND, Employees: 89</div>')[0];
                popup_0a68889a23aa44bb8f42e32448827880.setContent(html_72d043b70e144b3b993e5c46cdeb8289);
            

            circle_marker_b1c73f1a422b4f2b96e7a57a547c7413.bindPopup(popup_0a68889a23aa44bb8f42e32448827880);

            
        
    
            var circle_marker_bcbf2cbceff746bcaf1de2da2737791d = L.circleMarker(
                [51.5231294,-0.0979413],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_39531c38effc4157b24874d1ff19acaf = L.popup({maxWidth: '300'});

            
                var html_3f4be21009e640998a46b4c8c4b4698c = $('<div id="html_3f4be21009e640998a46b4c8c4b4698c" style="width: 100.0%; height: 100.0%;">BRANDOPUS HOLDINGS LIMITED: Devonshire House 60 Goswell Road London EC1M7AD, Employees: 90</div>')[0];
                popup_39531c38effc4157b24874d1ff19acaf.setContent(html_3f4be21009e640998a46b4c8c4b4698c);
            

            circle_marker_bcbf2cbceff746bcaf1de2da2737791d.bindPopup(popup_39531c38effc4157b24874d1ff19acaf);

            
        
    
            var circle_marker_10b514b162c1424c95714b23cce9ce2c = L.circleMarker(
                [51.5231294,-0.0979413],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_5a22ed9565744f88ae68ac9c3ca2ac78 = L.popup({maxWidth: '300'});

            
                var html_3a89c420e5dc4dbeb957f3c62def9694 = $('<div id="html_3a89c420e5dc4dbeb957f3c62def9694" style="width: 100.0%; height: 100.0%;">BRANDOPUS LLP: Devonshire House 60 Goswell Road London EC1M7AD, Employees: 170</div>')[0];
                popup_5a22ed9565744f88ae68ac9c3ca2ac78.setContent(html_3a89c420e5dc4dbeb957f3c62def9694);
            

            circle_marker_10b514b162c1424c95714b23cce9ce2c.bindPopup(popup_5a22ed9565744f88ae68ac9c3ca2ac78);

            
        
    
            var circle_marker_b924fad63cf844ffa1c394f285e5b0d7 = L.circleMarker(
                [51.3499792,-0.100566],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_dc96821a348b487aa164de7eee8c7ce0 = L.popup({maxWidth: '300'});

            
                var html_3954b9d22bac4a348293b9c40ca58352 = $('<div id="html_3954b9d22bac4a348293b9c40ca58352" style="width: 100.0%; height: 100.0%;">BRANDORA LIMITED: Progress House 404 Brighton Road South Croydon Surrey CR26AN, Employees: 81</div>')[0];
                popup_dc96821a348b487aa164de7eee8c7ce0.setContent(html_3954b9d22bac4a348293b9c40ca58352);
            

            circle_marker_b924fad63cf844ffa1c394f285e5b0d7.bindPopup(popup_dc96821a348b487aa164de7eee8c7ce0);

            
        
    
            var circle_marker_137d12158a784588ad842fa088625113 = L.circleMarker(
                [51.5801836,-0.33315],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_07f223147791420981cc180376853e56 = L.popup({maxWidth: '300'});

            
                var html_5f67c4156ec742178ba6d46247d1f46b = $('<div id="html_5f67c4156ec742178ba6d46247d1f46b" style="width: 100.0%; height: 100.0%;">BRANDOUTLET LIMITED: 4th Floor, Suite 2 B Congress House Lyon Road Harrow Middlesex HA12EN, Employees: 106</div>')[0];
                popup_07f223147791420981cc180376853e56.setContent(html_5f67c4156ec742178ba6d46247d1f46b);
            

            circle_marker_137d12158a784588ad842fa088625113.bindPopup(popup_07f223147791420981cc180376853e56);

            
        
    
            var circle_marker_13f2a7ca07c44ee58f33a03da6da32c2 = L.circleMarker(
                [51.4920614,-0.2625987],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_4aadb323b5ef46e3b8438d53e767fcc7 = L.popup({maxWidth: '300'});

            
                var html_5c920558124c4751b8e02cce0ccc8a7e = $('<div id="html_5c920558124c4751b8e02cce0ccc8a7e" style="width: 100.0%; height: 100.0%;">BRANDOW LTD: 277-279 Chiswick High Road London England W44PU, Employees: 43</div>')[0];
                popup_4aadb323b5ef46e3b8438d53e767fcc7.setContent(html_5c920558124c4751b8e02cce0ccc8a7e);
            

            circle_marker_13f2a7ca07c44ee58f33a03da6da32c2.bindPopup(popup_4aadb323b5ef46e3b8438d53e767fcc7);

            
        
    
            var circle_marker_91598e55ed3b47788443067901f465e6 = L.circleMarker(
                [51.507721,-0.1382871],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_73d5111e11384e9293f8c8a5197cf288 = L.popup({maxWidth: '300'});

            
                var html_dbf3c4f6ed0a46f6917fe9eda9c354b5 = $('<div id="html_dbf3c4f6ed0a46f6917fe9eda9c354b5" style="width: 100.0%; height: 100.0%;">BRANDPIPE LTD: Dukes Court 32 Duke Street London SW1Y6DF, Employees: 42</div>')[0];
                popup_73d5111e11384e9293f8c8a5197cf288.setContent(html_dbf3c4f6ed0a46f6917fe9eda9c354b5);
            

            circle_marker_91598e55ed3b47788443067901f465e6.bindPopup(popup_73d5111e11384e9293f8c8a5197cf288);

            
        
    
            var circle_marker_ce7573089d834db5868e131afc0a9a67 = L.circleMarker(
                [51.5001889,-0.0729491],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_d96798351bf446788ae11aa951957ae6 = L.popup({maxWidth: '300'});

            
                var html_ce6dd3555d9d4c118b8bfdf82bf889fa = $('<div id="html_ce6dd3555d9d4c118b8bfdf82bf889fa" style="width: 100.0%; height: 100.0%;">BRANDPOINT DESIGN LIMITED: C/O Montgomery Swann Ltd Scotts Sufferance Wharf 1 Mill Street London SE12DE, Employees: 169</div>')[0];
                popup_d96798351bf446788ae11aa951957ae6.setContent(html_ce6dd3555d9d4c118b8bfdf82bf889fa);
            

            circle_marker_ce7573089d834db5868e131afc0a9a67.bindPopup(popup_d96798351bf446788ae11aa951957ae6);

            
        
    
            var circle_marker_3c5a4a8e2cb54d3ca6eb715c63618db1 = L.circleMarker(
                [51.5206271,-0.1371981],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_df93d51bc85a4e47a0bad5bef940a8cf = L.popup({maxWidth: '300'});

            
                var html_ec9742bbde004d959cf1c19e5e21e365 = $('<div id="html_ec9742bbde004d959cf1c19e5e21e365" style="width: 100.0%; height: 100.0%;">BRANDPOOL LIMITED: 97 Charlotte Street London England W1T4QA, Employees: 105</div>')[0];
                popup_df93d51bc85a4e47a0bad5bef940a8cf.setContent(html_ec9742bbde004d959cf1c19e5e21e365);
            

            circle_marker_3c5a4a8e2cb54d3ca6eb715c63618db1.bindPopup(popup_df93d51bc85a4e47a0bad5bef940a8cf);

            
        
    
            var circle_marker_792dc40e2dee49ec8f4b7d567089e3f0 = L.circleMarker(
                [51.5349841,-0.0861324],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_389ccf10590647a78022cf97fd9ff6af = L.popup({maxWidth: '300'});

            
                var html_891064f927e34e7696fee722a9da53b6 = $('<div id="html_891064f927e34e7696fee722a9da53b6" style="width: 100.0%; height: 100.0%;">BRANDPROX LIMITED: 43 Grange Street Bridport Place London England N15JN, Employees: 25</div>')[0];
                popup_389ccf10590647a78022cf97fd9ff6af.setContent(html_891064f927e34e7696fee722a9da53b6);
            

            circle_marker_792dc40e2dee49ec8f4b7d567089e3f0.bindPopup(popup_389ccf10590647a78022cf97fd9ff6af);

            
        
    
            var circle_marker_9b772257e304423a922661b7e60fb469 = L.circleMarker(
                [51.4998909,-0.0813905],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_cacd6c95c6b446879d6e1c73dc093a2e = L.popup({maxWidth: '300'});

            
                var html_9ada25db9497452aaf29d32491dd3b37 = $('<div id="html_9ada25db9497452aaf29d32491dd3b37" style="width: 100.0%; height: 100.0%;">BRANDPUBLISHER LIMITED: C/O Keith Reynolds Associates 135 Bermondsey Street London SE13UW, Employees: 27</div>')[0];
                popup_cacd6c95c6b446879d6e1c73dc093a2e.setContent(html_9ada25db9497452aaf29d32491dd3b37);
            

            circle_marker_9b772257e304423a922661b7e60fb469.bindPopup(popup_cacd6c95c6b446879d6e1c73dc093a2e);

            
        
    
            var circle_marker_b0ff644bfdd2456cbb01d97247ca5924 = L.circleMarker(
                [51.4462841,-0.3019054],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_32f50b5818504742b3c619d8e40a21ac = L.popup({maxWidth: '300'});

            
                var html_65a124b663db4d4ca3a1b865939f8ca1 = $('<div id="html_65a124b663db4d4ca3a1b865939f8ca1" style="width: 100.0%; height: 100.0%;">BRANDRAM MEWS MANAGEMENT LIMITED: 195 Petersham Road Richmond Surrey TW107AW, Employees: 146</div>')[0];
                popup_32f50b5818504742b3c619d8e40a21ac.setContent(html_65a124b663db4d4ca3a1b865939f8ca1);
            

            circle_marker_b0ff644bfdd2456cbb01d97247ca5924.bindPopup(popup_32f50b5818504742b3c619d8e40a21ac);

            
        
    
            var circle_marker_1080e7d039c3413190f384b57295e9a5 = L.circleMarker(
                [51.501897,-0.0531104],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_69c3ed1f8d42454c8b903acd986c7ee4 = L.popup({maxWidth: '300'});

            
                var html_4d379a5d3fa94c15ab0427b09ad63635 = $('<div id="html_4d379a5d3fa94c15ab0427b09ad63635" style="width: 100.0%; height: 100.0%;">BRANDRAMS HOUSING CO-OPERATIVE LIMITED: Brandrams Wharf 127-131 Rotherhithe Street London SE164NF, Employees: 14</div>')[0];
                popup_69c3ed1f8d42454c8b903acd986c7ee4.setContent(html_4d379a5d3fa94c15ab0427b09ad63635);
            

            circle_marker_1080e7d039c3413190f384b57295e9a5.bindPopup(popup_69c3ed1f8d42454c8b903acd986c7ee4);

            
        
    
            var circle_marker_721b5e89936c467f81c900b7f232ac66 = L.circleMarker(
                [51.4959175,-0.1366917],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "orange",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_bfa307067e7347028e8cb33fae5c8362 = L.popup({maxWidth: '300'});

            
                var html_a9d5b52a2d6b468aa0fd84b929a57622 = $('<div id="html_a9d5b52a2d6b468aa0fd84b929a57622" style="width: 100.0%; height: 100.0%;">BRANDRAPPORT LIMITED: Greencoat House Francis Street London SW1P1DH, Employees: 85</div>')[0];
                popup_bfa307067e7347028e8cb33fae5c8362.setContent(html_a9d5b52a2d6b468aa0fd84b929a57622);
            

            circle_marker_721b5e89936c467f81c900b7f232ac66.bindPopup(popup_bfa307067e7347028e8cb33fae5c8362);

            
        
    
            var circle_marker_eebe6aca751941a5a90c866a171bf643 = L.circleMarker(
                [51.5120736,-0.136065],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_a5b77283945e4fd592b2015f0acfb6fa = L.popup({maxWidth: '300'});

            
                var html_bd5d464077ac4e9e80a391fb72cdfe7b = $('<div id="html_bd5d464077ac4e9e80a391fb72cdfe7b" style="width: 100.0%; height: 100.0%;">BRANDREHAB LIMITED: 33 Great Pulteney Street London W1F9NP, Employees: 193</div>')[0];
                popup_a5b77283945e4fd592b2015f0acfb6fa.setContent(html_bd5d464077ac4e9e80a391fb72cdfe7b);
            

            circle_marker_eebe6aca751941a5a90c866a171bf643.bindPopup(popup_a5b77283945e4fd592b2015f0acfb6fa);

            
        
    
            var circle_marker_a1f08cd02f674dddb3ceffd7ff11d329 = L.circleMarker(
                [51.5662139,-0.1106801],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_766d421c441248a190511603b950e277 = L.popup({maxWidth: '300'});

            
                var html_bae09f913de64dca80aab8358c723262 = $('<div id="html_bae09f913de64dca80aab8358c723262" style="width: 100.0%; height: 100.0%;">BRANDRETH ENTERPRISES LTD: 49B Fonthill Road London N43HZ, Employees: 120</div>')[0];
                popup_766d421c441248a190511603b950e277.setContent(html_bae09f913de64dca80aab8358c723262);
            

            circle_marker_a1f08cd02f674dddb3ceffd7ff11d329.bindPopup(popup_766d421c441248a190511603b950e277);

            
        
    
            var circle_marker_dea2e099907b4387bd202bf8fbb82896 = L.circleMarker(
                [51.6175644,-0.3122381],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_39f05a18de6c4633b2aca3877bdcf195 = L.popup({maxWidth: '300'});

            
                var html_c56e984301694fa1802315ce7aaa7474 = $('<div id="html_c56e984301694fa1802315ce7aaa7474" style="width: 100.0%; height: 100.0%;">BRANDS APPLIED LIMITED: Suite 3, 1st Floor Stanmore House, 15-19 Church Road Stanmore Middlesex HA74AR, Employees: 122</div>')[0];
                popup_39f05a18de6c4633b2aca3877bdcf195.setContent(html_c56e984301694fa1802315ce7aaa7474);
            

            circle_marker_dea2e099907b4387bd202bf8fbb82896.bindPopup(popup_39f05a18de6c4633b2aca3877bdcf195);

            
        
    
            var circle_marker_d6661d1b8c7e4d239ae9a6acdbc3be5c = L.circleMarker(
                [51.5234172,-0.1026916],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_05a270e9d1be45788a39c302abf12cb3 = L.popup({maxWidth: '300'});

            
                var html_211aad1362404e4cbf60fa87d5ec69da = $('<div id="html_211aad1362404e4cbf60fa87d5ec69da" style="width: 100.0%; height: 100.0%;">BRANDS AT WORK LTD: 145-157 St John Street London EC1V4PY, Employees: 27</div>')[0];
                popup_05a270e9d1be45788a39c302abf12cb3.setContent(html_211aad1362404e4cbf60fa87d5ec69da);
            

            circle_marker_d6661d1b8c7e4d239ae9a6acdbc3be5c.bindPopup(popup_05a270e9d1be45788a39c302abf12cb3);

            
        
    
            var circle_marker_e9b22d5fe02c48a486eaa047b9caf754 = L.circleMarker(
                [51.526975,-0.13956],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_315b8f99d739403da0d67e9d75e36d39 = L.popup({maxWidth: '300'});

            
                var html_c1c367ef270b4e13a44b49350aa266f7 = $('<div id="html_c1c367ef270b4e13a44b49350aa266f7" style="width: 100.0%; height: 100.0%;">BRANDS BANDS AND FANS LIMITED: Acre House 11-15 William Road London England NW13ER, Employees: 30</div>')[0];
                popup_315b8f99d739403da0d67e9d75e36d39.setContent(html_c1c367ef270b4e13a44b49350aa266f7);
            

            circle_marker_e9b22d5fe02c48a486eaa047b9caf754.bindPopup(popup_315b8f99d739403da0d67e9d75e36d39);

            
        
    
            var circle_marker_9d09a17c2bf64378854b6bcc5074ae90 = L.circleMarker(
                [51.512142,-0.1363558],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_607632102e4a466693536ca9b794fa28 = L.popup({maxWidth: '300'});

            
                var html_076c7b06704a4ebf84dd2533592122f2 = $('<div id="html_076c7b06704a4ebf84dd2533592122f2" style="width: 100.0%; height: 100.0%;">BRANDS BEYOND LTD: Golden House, 30 Pulteney Street 5th Floor London England W1F9NN, Employees: 17</div>')[0];
                popup_607632102e4a466693536ca9b794fa28.setContent(html_076c7b06704a4ebf84dd2533592122f2);
            

            circle_marker_9d09a17c2bf64378854b6bcc5074ae90.bindPopup(popup_607632102e4a466693536ca9b794fa28);

            
        
    
            var circle_marker_0c9233bbf88d41d781b9fe0af7cb2009 = L.circleMarker(
                [51.4920614,-0.2625987],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 6,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_9f7f97fb53c64e2ca2de39d0fbfda480);
            
    
            var popup_768b71734afe4ade9b514455a40fda21 = L.popup({maxWidth: '300'});

            
                var html_40d781b195d7483f93d27d43e16c563e = $('<div id="html_40d781b195d7483f93d27d43e16c563e" style="width: 100.0%; height: 100.0%;">BRANDS BOUTIQUE LTD: 277-279 Chiswick High Road London W44PU, Employees: 120</div>')[0];
                popup_768b71734afe4ade9b514455a40fda21.setContent(html_40d781b195d7483f93d27d43e16c563e);
            

            circle_marker_0c9233bbf88d41d781b9fe0af7cb2009.bindPopup(popup_768b71734afe4ade9b514455a40fda21);

            
        
    
            var layer_control_0f021550a6584128be443e4cf6e26459 = {
                base_layers : { "mapboxbright" : tile_layer_18d2f5e80658413bb40f3d80a3311bd6, },
                overlays : { "Business" : feature_group_9f7f97fb53c64e2ca2de39d0fbfda480, }
                };
            L.control.layers(
                layer_control_0f021550a6584128be443e4cf6e26459.base_layers,
                layer_control_0f021550a6584128be443e4cf6e26459.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_4ebfc10813b046bcb2dc4db9b1ab3718);
        
</script>